@page
@model sugarProject.Pages.LoginModel
@using Microsoft.AspNetCore.Http
@{
}
<head>
	<script src="~/js/errorvalidatelogin.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<script>

</script>
<style>
	.center {
		width: 30%;
	}
</style>
<div>

    <h3 class="text-center" style="color: #FF7F50; font-weight: bold;">
        User
        Login
    </h3>
    <form name="regform" method="post" onsubmit="return validateForm(event);"
          onreset="resetForm();" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="reg_email">Email</label>
            <input type="email" asp-for="login_email" class="form-control"
                   placeholder="abc.efg@gmail.co.il" oninput="checkEmail()"
                   id="reg_email" maxlength="25" required />
            <div class="invalid-feedback" id="reg_errormail">
                Please enter a
                valid email.
            </div>
        </div>

        <div class="form-group">
            <label for="reg_password">Password</label>
            <input type="text" asp-for="login_password" class="form-control"
                   id="reg_password" oninput="checkPass()" maxlength="25" required />
            <div class="invalid-feedback" id="reg_errorpass">
                Please enter a
                password.
            </div>
        </div>

		
        <button type="submit" name="submit" value="login" class="btn btnprimary
btn-block" style="background-color: #FF7F50; border-color:#FF7F50; opacity: 0.8;">
            login
        </button>
		@Html.AntiForgeryToken()
    </form>   
</div>