@page
@model sugarProject.Pages.RegisterModel
@{
}
<head>
    <script src="~/js/errorvalidate.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<script>
    function validate(event) {
		let isPassValid = checkPass();
        let isEmailValid = checkEmail();
        let isGenderValid = checkGender();
        let isPhoneValid = checkPhone();
        let isYearbornValid = checkYearBorn();
        
        if (!isEmailValid || !isGenderValid || !isPhoneValid || !isPassValid || !isYearbornValid) 
        {
            event.preventDefault();
            event.stopPropagation();
            form.classList.add("was-validated");
        }
        else {
            form.classList.add("was-validated");
        }

        return isEmailValid && isGenderValid && isPhoneValid && isPassValid && isYearbornValid;
    }


</script>
<div>
    <h3 class="text-center" style="color: #FF7F50; font-weight: bold;">
        User
        Registration
    </h3>
    <form name="regform" method="post" onsubmit="return validate(event);"
          onreset="resetForm();" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="reg_email">Email</label>
            <input type="email" asp-for="user.eMail" class="form-control"
                   placeholder="abc.efg@gmail.co.il" oninput="checkEmail()"
                   id="reg_email" maxlength="25" required />
            <div class="invalid-feedback" id="reg_errormail">
                Please enter a
                valid email.
            </div>
        </div>

        <div class="form-group">
            <label for="reg_password">Password</label>
            <input type="password" asp-for="user.pass" class="form-control"
                   id="reg_password" oninput="checkPass()" maxlength="25" required />
            <div class="invalid-feedback" id="reg_errorpass">
                Please enter a
                password.
            </div>
        </div>

		<div class="form-group">
			<label for="reg_password2">Confirm Password</label>
			<input type="password" class="form-control"
				   id="reg_password2" maxlength="25" required/>
			<div class="invalid-feedback" id="reg_errorpass2">
				Please confirm your
				password.
			</div>

        <div class="form-group">
            <label for="reg_fname">First Name</label>
            <input type="text" asp-for="user.fName" class="form-control"
                   id="reg_fname" maxlength="25" required />
            <div class="invalid-feedback" id="reg_errorfname">
                Please enter your
                first name.
            </div>
        </div>
        <div class="form-group">
            <label for="reg_lname">Last Name</label>
            <input type="text" asp-for="user.lName" class="form-control"
                   id="reg_lname" maxlength="25" required />
            <div class="invalid-feedback" id="reg_errorlname">
                Please enter your
                last name.
            </div>
            <div class="form-group">
                <label for="reg_phone">Phone</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select asp-for="user.prefix" class="form-select" id="reg_phone_prefix" required>
                            <option value="0" disabled selected>Prefix</option> 
                            <option value="1">+1</option> <!-- TODO: ADD DB -->
                            <option value="44">+44</option>
                            <option value="33">+33</option>
                            <option value="972">+972</option>
                            <option value="91">+91</option>
                            <option value="61">+61</option>               
                        </select>
                    </div>
                    <input type="tel" asp-for="user.phone" class="form-control"
                           id="reg_phone" oninput="checkPhone()" maxlength="15" required />
                </div>
                <div class="invalid-feedback" id="reg_errorphone">
                    Please select a prefix and enter a valid phone number.
                </div>
            </div>


        <div class="form-group">
            <label for="reg_gender">Gender:</label>
            <br>
            <input asp-for="user.gender" type="radio" name="user.gender" value="Male" id="reg_gender_male">
            <label for="reg_gender_male">Male</label>

            <input asp-for="user.gender" type="radio" name="user.gender" value="Female" id="reg_gender_female">
            <label for="reg_gender_female">Female</label>

            <input asp-for="user.gender" type="radio" name="user.gender" value="Other" id="reg_gender_other">
            <label for="reg_gender_other">Other</label>

            <div class="invalid-feedback d-none" id="reg_errorgender">
                Please select a gender.
            </div>
        </div>



        <div class="form-group">
            <label for="reg_yearBorn">Year Born:</label>
            <select asp-for="user.yearBorn" class="form-control" id="reg_yearborn" required>
                <option value="0" disabled selected>select year born</option>
                @for (int year = 1960; year <= 2025; year++)
                {
                    <option value="@year">@year</option>
                }
            </select>
            <div class="invalid-feedback" id="reg_erroryearborn">
                Please select a valid year.
            </div>
        </div>


        <div>
            <label for="reg_health">AM I HEALTHY</label>
            <br />
                <div class="form-check form-check-inline">
                    <div style="padding-right: 5px;">I do sports</div>  <input type="checkbox" class="form-check-input" asp-for="user.doesSports" id="reg_sport" />
                    <div style="padding-right: 5px;">I eat White Bread</div> <input type="checkbox" class="form-check-input" asp-for="user.eatsWhiteBread" id="reg_whitebread" />
                    <div style="padding-right: 5px;">I eat sugar regularly</div> <input type="checkbox" class="form-check-input" asp-for="user.eatsSugarRegularly" id="reg_sugar" />
                </div>
			
        </div>




        <button type="submit" name="submit" value="Register" class="btn btnprimary
btn-block" style="background-color: #FF7F50; border-color:#FF7F50; opacity: 0.8;">
            Register
        </button>
    </form>
    <div class="table table-striped table-bordered table-hover table-dark table-responsive">
        @Html.Raw(@Model.st)

    </div>
</div>