<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body style="background-color:burlywood">

    <div class="PageLayout">




        <div>
            <ul>
                <li><a asp-page="/index">Home</a></li>
                <li><a asp-page="/secondaryPage">Secondary page</a></li>
                <li><a asp-page="/sugarInBread">Sugar in bread</a></li>
                <li><a asp-page="/ShowUsers">show users</a></li>

            </ul>
        </div>
        <br />






        <div class="center" style="background-color:wheat">


            <div>
                <h1>
                    @RenderSection("Title", required: false)
                </h1>
            </div>

            <div style="background-color:blanchedalmond">



                <div style="padding:40px">


                    <div>
                    </div>
                    <div>

                        @RenderBody()

                    </div>
                    <br />
                    
                    @RenderSection("img1", required: false)

                </div>
            </div>


        </div>





    </div>

</body>
</html>
